/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img,
input {
  width: 100%;
}

body {
  --doc-width: 90%;
}



/*======================================================== NAV ========================================================= */
/*======================================================== NAV ========================================================= */

h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  color: rgb(139, 53, 124);
  margin: 10px auto;
}

#app {
  text-align: center;
  font-style: italic;
  font-weight: 100;
  color: rgb(62, 52, 71);
}

#nav {
  list-style: none;
  display: flex;
}

#nav li {
  padding: 20px;
  font-size: 1rem;
}

.header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--doc-width);
}

#nav a {
  color: brown;
  text-decoration: none;
  font-weight: 600;
}

a {
  color: brown;
  text-decoration: none;
}

h2 {
  padding: 20px 0;
}



/*======================================================== FORM ========================================================= */
/*======================================================== FORM ========================================================= */

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}

input {
  margin: 10px 0;
}

select {
  width: 300px;
  padding: 10px;
  margin: 10px 0;

}

#btn {
width: 200px;
padding: 10px;
}



/*======================================================== FOOTER ========================================================= */
/*======================================================== FOOTER ========================================================= */

/* footer {
    background-color: bisque;
    height: 15vh;
  }
  
  footer p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 20px;
  }
  
  #icons_rs {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 20px;
  }
  
  #icons_rs img {
    width: 20px;
    margin: 3px;
  } */
